@import "mixins";

$footer-height: 50px;

.hidden { display: none; }

.row {
    margin-left: 0px;
    margin-right: 0px;
}

html {
    position: relative;
    min-height: 100%;

    body {
        margin-bottom: $footer-height;
    }
}

header {
    margin-bottom: 20px;
    background-color: #f7f7f7;

    .navbar-text {
        padding: .5em 1em;
    }
}

.submit-btn {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid #F9F9F9;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.green-submit-btn {
    @extend .submit-btn;
    background-color: #04BC43;
    color: #FFFFFF;

    &:hover {
        background-color: #009934;
    }
}

.white-btn {
    @extend .submit-btn;
    background-color: #FFF;
    border: 1px solid #288DD6;

    &:hover {
        background-color: #EBEBEB;
    }
}

#content {
    #option-links {
        span {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #E3E3E3;

            &.active {
                background-color: #C3C3C3;
            }

            &:hover {
                cursor: pointer;
                background-color: #C3C3C3;
            }

            &:first-child {
                border-radius: 10px 0 0 0;
            }

            &:last-child {
                border-radius: 0 10px 0 0;
            }
        }
    }

    #options {
        border: 1px solid #E3E3E3;
        padding: 5px;

        .option {
            input {
                margin-right: 5px;
            }
        }
    }

    #map-display {
        height: 500px;
        border: 1px solid black;
    }

    #items table {
        width: 100%;
        border: 1px solid #E3E3E3;

        tr {
            border-bottom: 1px solid #E3E3E3;
            line-height: 30px;

            td {
                padding: 5px;

                &:first-child {
                    width: 10%;
                    text-transform: uppercase;
                    border-right: 1px solid #E3E3E3;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .map-options {
        margin-top: 10px;

        .checkbox-wrapper {
            display: block;
            height: 20px;
            line-height: 20px;
        }

        input {
            display: block;

            &[name=map-name] {
                width: 100%;
                padding: 5px;
            }

            &[name=map-public] {
                float: left;
            }

            &[type=button] {
                display: inline-block;
            }

            &.green-submit-btn {
                margin-left: 0px;
            }
        }
    }
}


#login {
    width: 500px;
    height: auto;
    margin: 200px auto 0 auto;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 2%;
    text-align: center;

    input, select {
        display: block;
        width: 80%;
        height: 30px;
        margin: 5% auto 0 auto;

        &[type=text], &[type=password] {
            text-indent: 10px;
        }

        &[type=submit] {
            display: inline-block;
            height: auto;
        }
    }
}

#register {
    @extend #login;
}

footer {
    position: absolute;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    bottom: 0;
}
