extends layout

block content
    #content.container
        div.row
            .col-md-6
                #option-links
                    span(class='option-btn active' name='marker') Marker
                    span(class='option-btn' name='info-window') Info Window
                    span(class='option-btn' name='directions') Directions
                #options
                    div(id='marker' class='option marker')
                        input(type='text', name='location', placeholder='Location')
                        input(class='submitBtn green-submit-btn marker' type='button', value='Add')
                    div(id='directions' class='option directions hidden')
                        input(type='text', name='origin', placeholder='Origin')
                        input(type='text', name='destination', placeholder='Destination')
                        input(class='submitBtn green-submit-btn directions' type='button', value='Add')
                    div(id='info-window' class='option info-window hidden')
                        input(type='text', name='location', placeholder='Location')
                        span or
                        input(type='text', name='latitude', placeholder='Latitude')
                        input(type='text', name='longitude', placeholder='Longitude')
                        textarea('text', name='content', placeholder='Content')
                        input(class='submitBtn green-submit-btn info-window' type='button', value='Add')
                #items
                    table.table.table-striped
                        tbody
                            tr
            .col-md-6
                #map-display
                div(class='map-options')
                    input(id='map-name', type='text', name='map-name', placeholder='Map name')
                    div(class='checkbox-wrapper')
                        input(id='map-public', type='checkbox', name='map-public')
                        | Public
                    input(class='save-map-btn green-submit-btn', type='button', value='Save map')
                    input(class='reset-position-btn white-btn', type='button', value='Reset map position')

block custom_scripts
    script
        | var mapId = "#{mapId}";
    script(src='/javascripts/google-maps-utils.js')
    script(src='/javascripts/creator.js')
    script(src='/javascripts/scripts.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=#{apiKey}&libraries=places,visualization&callback=initMap')
