doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    block header
  body
    block content

  footer
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/maps.js')
    script(src='/javascripts/scripts.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=#{apiKey}&libraries=places,visualization&callback=initMap')
