extends layout

block content
    #login
        form(action='/login', method='POST')
            h2 LOGIN
            input(id='username', type='text', name='username', placeholder='Username' autofocus)
            input(id='password', type='password', name='password', placeholder='Password')
            input.btn.btn-default(type="submit")
