extends maps_layout

block content
    #content
        .col-6
            #option-links
                span(class='option-btn active' name='marker') Marker
                span(class='option-btn' name='directions') Directions
            #options
                div(class='option marker')
                    input(id='location', type='text', name='location', placeholder='Location')
                    input(class='submitBtn green-submit-btn marker' type='button', value='Add')
                div(class='option directions hidden')
                    input(id='origin', type='text', name='origin', placeholder='Origin')
                    input(id='destination', type='text', name='destination', placeholder='Destination')
                    input(class='submitBtn green-submit-btn directions' type='button', value='Add')
            #items
                table
                    tbody
                        tr
        .col-6
            #map-display
            div(class='map-options')
                input(id='map-name', type='text', name='map-name', placeholder='Map name')
                div(class='checkbox-wrapper')
                    input(id='map-public', type='checkbox', name='map-public')
                    | Public
                input(class='save-map-btn green-submit-btn', type='button', value='Save map')
                input(class='reset-position-btn white-btn', type='button', value='Reset map position')
