extends layout

block content
    #register
        form(action='/register', method='POST')
            h2 REGISTER
            input(id='first-name', type='text', name='first_name', placeholder='First name')
            input(id='last-name', type='text', name='last_name', placeholder='Last name')
            input(id='username', type='text', name='username', placeholder='Username (required)')
            input(id='password', type='password', name='password', placeholder='Password (required)')
            select(id='role', name='role')
                option(value='user') User
                option(value='admin') Admin
            input.btn.btn-default(type="submit")
